/* Nunito Regular */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/nunito/nunito-regular.woff2') format('woff2'),
    url('../fonts/nunito/nunito-regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Nunito Bold */
@font-face {
  font-family: 'Nunito Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/nunito/nunito-700.woff2') format('woff2'),
    url('../fonts/nunito/nunito-700.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Lato Bold */
@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
    url('../fonts/lato/Lato-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Playfair Display Regular */
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair_display/PlayfairDisplay-Regular.woff2')
      format('woff2'),
    url('../fonts/playfair_display/PlayfairDisplay-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Playfair Display Bold */
@font-face {
  font-family: 'Playfair Display Bold';
  src: url('../fonts/playfair_display/PlayfairDisplay-Bold.woff2')
      format('woff2'),
    url('../fonts/playfair_display/PlayfairDisplay-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
